<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css'%}" />
    <title>   {% trans "Otchoto - Encontre seu parceiro de estudo de linguas nacionais! " %}</title>
  </head>

  <body>

  
    {% include 'navbar.html' %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
   


    {% block content %}



    {% endblock %}

    <footer class="header header--loggedIn">
        <div class="container">
          <a href="{% url 'home' %}" class="header__logo">
           <!-- <img src="{% static 'images/logo.svg'%}" />-->
            <h1>  {% trans "Apoio" %} </h1>
          </a>
 
    
    <div class="languages">
    <!--<p>{% trans "Idioma" %}:</p>-->
    <ul class="suport" style="font-size: 8px; ">
      <li> <a href="">Fenix Innovation</a>  </li>

    <li> <a href=""> Cuyuyu Entregas</a>  </li>
    <li> <a href=""> Academia +Valor</a>  </li>

    </ul>
    </div>
          <nav class="header__menu">
            <!-- Not Logged In -->
            <a href="{% url 'home' %}">
              <img src="{% static 'images/logo.svg'%}" />
              <p>Otchoto</p>
            </a> 
    
            <!-- Logged In -->
    
       
       
          </nav>
      
      
        </div>
    
    
    </footer>
     <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>









