{% extends 'main.html' %}


{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username" required/>
     
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password" required/>
    
        <input type="submit" value="Login"/>
        <p>
            Havent signed up yet ?
        </p>
        <a href="{% url 'register' %}">
            Sign up

        </a>

    </form>
</div>

{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        {{form.as_p}}



        <input type="submit" value="Register"/>

    </form>
    <p>
        Already signed up yet ?
    </p>
    <a href="{% url 'login' %}">
        Login
    </a>
</div>

{% endif %}
{% endblock content %}